.recipeCard {
  flex: 1;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px #0004;
  text-decoration: none;
  transition: .1s linear;
  background-color: white;
}

.recipeCard:hover {
  transform: scale(105%);
}

.recipeName {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #E14D2A;
  font-weight: bolder;
  padding: 10px;
}

@media screen and (max-width: 470px) {
  .recipeCard {
  width: 48%;
  min-width: 125px;
  border-radius: 20px;
  }

  .renderCards > .recipeCard:nth-child(3n) {
    min-width: 250px;
  }
}

@media screen and (min-width: 471px) {
  .recipeCard {
    min-width: 165px;
    border-radius: 20px;
    max-width: 265px;
  }
}